<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body class="back flex_box">
    <div class="flex_box user_position">
                <li class="user flex_box">Тут будет юзернейм</li> 
                <a class="blank_link"><button type="button" class="w">Выйти</button></a>
    </div>
                
        <div class="top-pannel flex_box">
            <div class="btns">
                <a><button type="submit" class="btn-new">Заказы</button></a>
                <a><button type="submit" class="btn-new">Клиенты</button></a>
                <a><button type="submit" class="btn-new">Сотрудники</button></a>
                <a><button type="submit" class="btn-new">Товар</button></a>
            </div>
        </div>
        <div class="main flex_box">
            <div class = "content flex_box">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    <!-- <h1 class="info">Вы не вошли в аккаунт</h1>
    <a><button type="button" class="btn-new">Войти в аккаунт</button></a> -->
</body>
</html>
