{% extends "layout_admin.html" %}
{% block title %}
Orders
{% endblock %}
{% block content %}
<form action="#" , method="get">
    <section class="listings">
        <div class="wrapper">
            <ul class="properties_list">
                {% for order in orders %}
                <li>
                    <div class="property_details">
                        <h1>
                            <a href="#">{{order.order_id}} : {{order.address}}</a>
                        </h1>
                        <h2>Creation date: {{order.creation_date}}</h2>
                        <h2>Order list: {{order.order_list}}</h2>
                        <h2>Payed: {{order.payed}}</h2>
                        <h2>Payment date: {{order.payment_date}}</h2>
                        <h2>Client ID: {{order.client_id}}</h2>
                    </div>
                </li>
                {% endfor %}
        </div>
    </section>
</form>
{% endblock %}