{% extends "layout_admin.html" %}
{% block title %}
New employee
{% endblock %}
{% block content %}
<section class="listings">
    <div class="wrapper">  
        <div class="more_listing">
            <ul class="properties_list">
                <form method="post">
                    <p class="incorrect_input">{{invalid}}</p>
                    <h1>New Employee</h1>
                    <div class="form-group">
                        <span>Employee ID</span>
                        <input name="emp_id" type="number" class="form-field" pattern="[0-9]+$" required/>
                    </div>
                    <div class="form-group">
                        <span>First name</span>
                        <input name="first_name" type="text" class="form-field" required/>
                    </div>
                    <div class="form-group">
                        <span>Second name</span>
                        <input name="second_name" type="text" class="form-field" required/>
                    </div>
                    <div class="form-group">
                        <span>Employee login</span>
                        <input name="emp_login" type="text" class="form-field" required/>
                    </div>
                    <div class="form-group">
                        <span>Employee password</span>
                        <input name="emp_pass" type="text" class="form-field" required/>
                    </div>
                    <div class="form-group">
                        <span>Employee phone number</span>
                        <input name="emp_phone" type="text" class="form-field" placeholder="+X..." required/>
                    </div>
                    <div class="form-group">
                        <span>Employee email</span>
                        <input name="emp_email" class="form-field" required/>
                    </div>
                    <div class="form-group">
                        <span>Department number</span>
                        <input name="dept_no" type="text" class="form-field" placeholder="MNDP" pattern="[A-Z]{4}" required/>
                    </div>
                    <br>
                    <button type="submit" class="more_listing_btn">Add employee</button>
                </form>
            </ul>
        </div>
    </div>
</section>

{% endblock %}