{% extends "layout.html" %}
{% block title %}
Order
{% endblock %}
{% block content %}
<form action="#" , method="get">
    <section class="listings">
        <div class="wrapper">
            <h1>
                Order number: {{order.order_id}}
                <br>
                <br>
                {{order.address}}
            </h1>

            <ul class="properties_list">
                {% for product in products %}
                <li>
                    <div class="property_details">
                        <h1>
                            <a href="#">{{product['name']}}</a>
                            <h2>Country: {{product['country']}}</h2>
                            <h2>Vintage dating: {{product['vintage_dating']}}</h2>
                            <h2>Winery: {{product['winery']}}</h2>
                            <h2>Alcohol: {{product['alcohol']}}</h2>
                            <h2>Capacity: {{product['capacity']}}</h2>
                            <h2>Amount: {{order.order_list[product['article']]['amount']}}</h2>
                            <h1>Price: {{ "%.2f€"|format(order.order_list[product['article']]['price'] *
                                order.order_list[product['article']]['amount'])}}</h1>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <h2>Total price: <h1>{{"%.2f€"|format(total_price)}}</h1></h2>
            <h3>Creation date: {{order.creation_date}}</h3>
            {% if order.paid %}
            <h3>Paid. Payment date: {{order.payment_date}}</h3>
            {% else %}
            <h3>Not paid</h3>
            {% endif %}

        </div>
    </section>
</form>
{% endblock %}