{% extends "layout.html" %}
{% block title %}
Products
{% endblock %}
{% block content %}
<form action="#" , method="POST">
    <section class="listings">
        <div class="wrapper">  
            <ul class="properties_list">
                {% if cart_products %}
                {% for product, amount in cart_products %}
                <li>
                    <div class="property_details">
                        <h1>
                            <a href="#">{{product['article']}} : {{product['name']}}</a>
                            <h2>Type: {{product['type']}}</h2>
                            <h2>Country: {{product['country']}}</h2>
                            <h2>Vintage dating: {{product['vintage_dating']}}</h2>
                            <h2>Winery: {{product['winery']}}</h2>
                            <h2>Alcohol: {{product['alcohol']}}</h2>
                            <h2>Capacity: {{product['capacity']}}</h2>
                            {% for line in product['description'].split('\n') %}
                            <h2>{{line}}</h2>
                            {% endfor %}
                            <h1>Price: {{"%.2f€"|format(product['price'] * amount)}} ({{amount}})</h1>
                            <!-- <h2>Items left: {{product['items_left']}}</h2> -->
                    </div>
                </li>
                {% endfor %}
                {% else %}
                <h1>Shopping cart is empty</h1>
                {% endif %}
        </div>
    </section>
</form>
<section class="listings">
    <div class="wrapper">  
        <div class="more_listing">
            <ul class="properties_list">
                <form method="post">
                    <p class="incorrect_input">{{invalid}}</p>
                    <h1>Make an order</h1>
                    <div class="form-group">
                        <span>Address</span>
                        <input name="address" type="text" class="form-field" required/>
                    </div>
                    <div class="more_listing">
                        <button type="submit" class="more_listing_btn">Make an order</button>
                    </div>
                </form>
            </ul>

        </div>

    </div>



</section>

{% endblock %}