{% extends "apasov_engine/layout.html" %}
{% block title %}

{% endblock %}
{% block content %}
<div class="features">
    <h1 class="h_h">Поиск клиентов по названию</h1>
    <form class="form">
        <input type="search" class="form-control" name="search"></input>
        <button class="roll btn-action" type="submit">Искать</button>
        {% if client %}
        {% for el in client %}
            <div class="warning">
                <h3 class="info">Имя клиента: {{ el.client_name }}</h3>
                <p class="info">ID клиента: {{ el.client_id }}</p>
                <p class="info">Телефон клиента: {{ el.client_ph_number }}</p>
            </div>
        {% endfor %}
        {% else %}
            <p class="info"> Клиентов нет! </p>
    </form>
    <button class="roll btn-action" type="button">Добавить клиента</button>
</div>
{% endif %}
{% endblock %}