{% extends "apasov_engine/layout.html" %}
{% block title %}

{% endblock %}
{% block content %}
<div class="features">
    <h1 class="h_h">Форма по добавлению нового продукта</h1>
    <form method="post" class="form">
        <div class="task_form">
        {% csrf_token %}
        {{form.product_id }} <br>
        {{form.product_name}} <br>
        {{form.sets_left}} <br>
        {{form.detail_number}} <br>
        {{form.brand}} <br>
        {{form.product_price}} <br>
        {{form.engine_type}} <br>
        {{form.reserved}} <br>
        {{form.total_sold}} <br>
        <span class="error">{{ error }}</span>
        </div>
        <button class="roll btn-action">Создать</button>

    </form>
    <a href = "{% url 'product' %}" class="btn-back"><button type="submit" class="btn-action up right">Назад</button></a>
</div>
{% endblock %}