{% extends "apasov_engine/layout.html" %}
{% block title %}

{% endblock %}
{% block content %}
{% load hello_extras %}
<div class="features">
        <div class="moves">
        <h1 class="info h_h">Выберите действие</h1>
        <a class="btn-back" href = "{% url 'all_orders' %}"><button type="submit" class="btn-action">Все заказы</button></a>
        <a class="btn-back" href = "{% url 'new_ord' %}"><button type="submit" class="btn-action">Новый заказ</button></a>
        </div>

</div>
{% endblock %}