{% extends "apasov_engine/layout.html" %}
{% block title %}
Наличие
{% endblock %}
{% block content %}
<div class="features">
    <h1 class="h_h">Поиск деталей по названию</h1>
    <form class="form">
        <input type="search" class="form-control" name="search"></input>
        <button class="roll btn-action" type="submit">Искать</button>
        {% if product %}
        {% for el in product %}
            <div class="warning">
                <h3 class="info">ID детали: {{ el.product_id }}</h3>
                <p class="info">Название: {{ el.product_name }}</p>
                <p class="info">Комплектов в наличии: {{ el.sets_left }}</p>
                <p class="info">Артикул запчасти: {{ el.detail_number }}</p>
                <p class="info">Производитель: {{ el.brand }}</p>
                <p class="info">Цена за комплект: {{ el.product_price }}</p>
                <p class="info">Подходит на двигатель: {{ el.engine_type }}</p>
                <p class="info">Забронированно комплектов: {{ el.reserved }}</p>
                <p class="info">Проданно всего: {{ el.total_sold }}</p>

            </div>
        {% endfor %}
        {% else %}
            <p class="info"> Деталей нет! </p>
        {% endif %}
        <a class="btn-back" href = "{% url 'new_product' %}"><button class="roll btn-action" type="button">Добавить продукт</button></a>
    </form>
</div>
{% endblock %}